#about {
    margin-top: 100px;
    max-width: 1500px;
}

#about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#about h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    /* font-size: 18px; */
}

#about .heading {
    position: relative;
    height: fit-content;
    width: fit-content;
}

#about .heading h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 40px;
}

#about .heading h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 120px;
    opacity: .2;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
}

#about .about-intro-text .heading h3 {
    transform: translate(30%, -50%);
    right: 45%;
}

#about .heading h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

#about .heading h5 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    opacity: .09;
    width: max-content;
    margin: 0 auto;
    right: 60%;
    top: 50%;
    transform: translate(30%, -50%);
    position: absolute;
}

/* ABOUT INTRO */
.about-intro {
    display: flex;
    height: calc(100vh - 100px);
}

.about-intro img {
    height: 96vh;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: -1;
    object-fit: cover;
}

.about-intro-text {
    margin-top: 200px;
    width: 600px;
}

#home .about-intro-text .headin h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: calc(64px + (120 - 64) * ((100vw - 300px) / (1600 - 300)));
    opacity: .2;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    left: 0;
}
/* .about-intro-text p {
    margin: 0;
} */

/* ABOUT VALUES */
.about-values {
    text-align: center;
    margin: 0 0 50px;
    position: relative;
    padding-top: 40px;
    width: 100vw;
}

.about-values * {
    /* margin: 0; */
}

.about-values .heading {
    color: white;
    margin: 30px auto 0;
}

.heading-p {
    color: white;
    font-size: 16px;
}

.navy-bg {
    background-color: var(--blue);
    width: 100vw;
    height: 360px;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}

.about-values-cards {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.about-values-card {
    /* width: 300px; */
    width: calc(272px + (300 - 272) * ((100vw - 300px) / (1600 - 300)));
    margin: 0 20px;
    background-color: white;
    text-align: left;
    /* height: 456px; */
    height: calc(416px + (456 - 416) * ((100vw - 300px) / (1600 - 300)));
    position: relative;
}

.about-values-card-text {
    padding: 20px 30px 30px;
}

.about-values-card-text h2 {
    margin-bottom: 10px;
}

.about-values-card-text p {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.about-values-card-text .extra-info {
    font-size: 12px;
    color: gray;
    position: absolute;
    bottom: -8px;
    width: 250px;
    padding-bottom: 16px;
}

.about-values-card img {
    width: 100%;
}

/* ABOUT NAME */
.about-name {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 60vh;
    position: relative;
    width: 100vw;
}

.about-name img {
    object-fit: cover;
    height: 100%;
    width: 40%;
    margin: 0;
    padding: 0;
}

.about-name .heading {
    margin-top: 30px;
}

.about-name-text {
    position: relative;
    margin-left: 10vw;
}

.about-name-text p {
    width: 80%;
}

/* .about-name-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12vw;
    background-color: var(--gold);
    height: 100%;
    width: 100vw;
    z-index: -1;
    padding-left: 400px;
} */

/* ABOUT TEAM */
.about-team {
    margin: 64px auto;
    text-align: center;
    width: 100vw;
}

.about-team .heading {
    margin: auto;
}

.about-team-members {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin: 0 auto;
    margin-top: 50px;
    width: 80vw;

}

.team-heading-p {
    width: 60%;
    margin: auto;
}

.about-team-member {
    flex-basis: 500px;
    text-align: left;
}

.member-text {
    position: relative;
    height: auto;
}

.member-text::after {
    content: "";
    background-color: black;
    opacity: 0.1;
    height: 60%;
    width: 1px;
    position: absolute;
    right: -30px;
    top: 0;
}

.last::after {
    display: none;
}

#about .about-team-member h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 20px 0 5px;
}

.about-team-member h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
    margin: 0;
    text-align: left;
    padding: 0;
}

.member-photo {
    background-color: var(--blue);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.maksim {
    background-image: url(../images/maksim-photo.jpg);
}

.lukas {
    background-image: url(../images/lucas.jpg);
}

.juan {
    background-image: url(../images/juan-photo.jpg);
    /* background-size: 200%;
    background-position: 70% 50%; */
}

@media (max-width: 480px) {

    #about .heading h2 {
        font-size: 24px;
        padding-left: 10vw;
    }

    #about .heading h3 {
        width: max-content;
        font-size: 50px;
    }

    #about .heading h4 {
        font-size: 24px;
    }

    #about .heading h5 {
        font-size: 64px;
    }
    /* INTRO */
    .about-intro {
        flex-direction: column-reverse;
        width: 100%;
    }

    .about-intro img {
        position: static;
        margin-top: 100px;
        height: 45vh;
        /* margin-bottom: 105px; */
    }

    .about-intro-text {
        margin-top: 116px;
        margin-bottom: 24px;
        padding-bottom: 24px;
        width: 100vw;
    }

    .about-intro-text p {
        width: 80vw;
        overflow: hidden;
        padding-left: 10vw;
    }

    /* VALUES */
    .navy-bg {
        height: 192vh;
        padding-bottom: 20px;
    }

    .about-values {
        margin: 0;
    }

    .about-values-cards {
        flex-direction: column;
        align-items: center;
    }

    .about-values-card {
        margin-bottom: 32px;
    }

    .about-values-card-text h2 {
        font-size: 16px;
    }

    .about-values-card-text p {
        margin: 0;
    }

    .about-name {
        background-color: var(--gold);
    }

    .about-name img {
        display: none;
    }

    /* TEAM */
    .team-heading-p {
        margin-top: 32px;
    }

    .about-team-members {
        flex-direction: column;
    }

    .member-text::after {
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
    }

    .team-heading-p {
        width: 100%;
        text-align: center;
    }

    .about-team-member {
        flex-basis: 0;
    }

    .member-photo {
        margin: 0 auto;
    }    

   
}

@media (min-width: 768px) {
    .about-intro img {
        height: 47vh;
        /* position: static; */
    }

    .about-intro {
        flex-direction: column-reverse;
        width: 100%;
    }

    .about-intro-text {
        margin-bottom: 200px
    }

    .about-team-members {
        flex-wrap: wrap;
    }

    .about-values-card-text h2 {
        font-size: 16px;
    }

    .about-name-text::before {
        content: "";
        position: absolute;
        top: 0;
        left: -12vw;
        background-color: var(--gold);
        height: 100%;
        width: 100vw;
        z-index: -1;
    }
}

@media (min-width: 1200px) {
    .about-intro img {
        height: 96vh;
    }

    .about-team-members {
        flex-wrap: nowrap;
    }
}