.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
    background-color: var(--blue);
    z-index: -1;
}

#contacts {
    height: 100vh;
    background-color: var(--white);
}

.contacts {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    padding-top: 100px;
    position: relative;
    z-index: 2;
    width: 53vw;
}

.back_header {
    color: white;
    opacity: 15%;
    text-transform: uppercase;
    font-size: 120px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: -1%;
}

.main_header {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-top: 55px;
    padding-left: 26vh;
}

.contact_text {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    color: white;
    padding-top: 30px;
    max-width: 400px;
    line-height: 20px;
    padding-left: 26vh;

}

.some_div {
    display: flex;
    flex-direction: column;
    padding-left: 26vh;
    padding-top: 5vh;
}

.some {
    width: 40px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    color: var(--black);
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.form {
    margin-top: 145px;
    position: relative;
    z-index: 2;
    background-color: white;
    height: 460px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    padding: 50px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.16);
}

.form input {
    height: 50px;
    width: 450px;
    border: #70707048 solid 0.5px;
    outline: none;
    margin: 2px 0 20px 0;
    font-size: 18px;
    opacity: 80%;
}

#message {
    height: 180px;
}

.send {
    background-color: var(--gold);
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 20px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 600;
}



@media (max-width: 1290px) {
    .form input {
        width: 250px;
        height: 30px;
    }

    #message {
        height: 100px;
    }

    .form {
    height: 350px;
    }
    
    .header {
        width: 66vw;
    }
}

@media (max-width: 1050px) {
    .some_div {
        width: 100%;
        background-color: var(--white);
        padding-top: 0;
    }

    .form {
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media (max-width: 1050px) {

    .header {
        width: 100%;
        overflow: hidden;
        padding-top: 60px;
    }

    .back_header {
        font-size: 60px;
        top: 60px;
    }

    .main_header {
        padding-left: 10vw;
    }

    .contact_text {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .some_div {
        padding-left: 10vw;
    }

    .some {
        width: 30px;
    }


    .form input {
        width: 60vw;
    }

    .form {
        margin-bottom: 20px;
    }

    .background {
        position: absolute;
    }

    .form {
        width: 50vw;
        text-align: center;
        padding: 30px 50px;
    }

    .form input{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 370px) {

    .main_header {
        font-size: 24px;
        padding-top: 63px;
    }

    .contact_text {
        font-size: 14px;
    }

    .back_header {
        font-size: 50px;
    }

    .send {
       width: 108%;
    }

    .contact_text {
        margin-top: -15px;
        padding-top: 0;
    }

    .background {
        height: 50%;
    }


}

@media (max-height: 814px) {

    .background {
        height: 45vh;
        position: absolute;
    }


}

@media (max-height: 735px) {

    .background {
        height: 50vh;
        position: absolute;
    }


}

