#gallery {
    margin-top: 100px;
    max-width: 1500px;
}

.gallery-container {
    width: 100vw;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 64px;
}

.gallery-date {
    margin: 0 20px;
}


.gallery-photos {
    display: flex;
    flex-wrap: wrap;
}

.gallery-photos img {
    margin-right: 16px;
    width: 324px;
    height: 280px;
    object-fit: cover;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.16);
    cursor: pointer;
}

.gallery-photos img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.gallery-photos img:hover {
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.white-photo-box {
    background-color: white;
    color: var(--black);
    width: 324px;
    height: 334px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 24px;
    margin-bottom: 24px;
    overflow: hidden;
}

.white-photo-box h3 {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    margin: 12px;
}

#gallery h2 {
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-top: 40px;
}

#gallery h2::after {
    display: inline-block;
    content: "";
    border-top: 1px solid white;
    opacity: 0.5;
    width: 100%;
    transform: translateY(-0.5rem);
}


@media (max-width: 768px) {

    .gallery-photos img {
        width: 90%;
        margin-top: 32px;
    }

    .gallery-date {
        margin-left: 10vw;
    }

    #gallery h2::after {
        width: 90%;
    }

    .white-photo-box {
        margin-bottom: 32px;
    }

    .white-photo-box img {
        margin: 0;
        width: 100%;
    }

    .gallery-container {
        padding-bottom: 0;
    }
}


/* SPECIFIC EVENT */
#gallery-event {
    margin-top: 100px;
    background-color: var(--blue);
    min-height: 100vh;
}

.gallery-event-container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
}

.gallery-event-container h2 {
    font-family: "Oswald", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.gallery-event-photos {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-bottom: 64px;
    gap: 10px;
}

.gallery-event-photos img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gallery-event-photos img:hover {
    transform: scale(1.01);
    opacity: 0.9;
}

.photo-preview-container span {
    position: absolute;
    font-size: 50px;
    color: white;
    z-index: 10;
    top: 0px;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 0 10px;
}

.photo {
    position: fixed;
    max-height: 800px;
    height: 80vh;
    max-width: 1000px;
    width: 130vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10001;
    transition: all 0.6s ease-in-out;
}

.photo-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.next, .previous {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 10px 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    cursor: pointer;
}

.previous {
    left: 0;
    transform: rotate(180deg);
    margin-top: -22px;
}

.next {
    right: 0;

}

.preview-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 100px;
    left: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    transition: all 0.6s ease-in-out;
}

.active-bg {
    opacity: 0.3;
    visibility: visible;
}

.active-preview {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1030px) {
    .photo {
        width: 90%;
        height: 70%;
    }

}

@media (max-width: 768px) {
    .gallery-event-photos {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        
    }
    
    .gallery-event-container {
        padding-top: 60px;
    }
    
    .photo {
        height: 40%;
    }
    
}
