/* MAIN HOME PAGE SETTINGS */
#home {
    margin-top: 100px;
    width: 100vw;
    overflow-x: hidden;
}
#home .heading {
    position: relative;
    /* height: fit-content;
    width: fit-content; */
}

#home p {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 16px; */
}

#home h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#home .heading h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 40px;
}

#home .heading h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    opacity: .2;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    /* left: 0; */
}

#home .heading h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

#home .heading h5 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    opacity: .09;
    width: max-content;
    margin: 0 auto;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    position: absolute;
}

.home-intro {
    display: flex;
    height: calc(100vh - 100px);
}

.home-intro .heading {
    color: white;
}

.home-intro .heading h2 {
    top: 0;
}

.home-intro img {
    height: 100vh;
    position: absolute;
    top: 70px;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
}

.home-intro-text {
    margin-top: 200px;
    margin-left: 10vw;
    width: 600px;
}

.home-intro-text p {
    margin: 0;
    color: whitesmoke;
}

.gold-button {
    background-color: var(--gold);
    border: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    padding: 15px 30px;
    margin-top: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    /* width: calc(164px + (264 - 164) * ((100vw - 300px) / (1600 - 300))); */
}

.gold-bg {
    background-color: var(--gold);
    width: 100vw;
    height: 360px;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.home-about-intro {
    display: flex;
    height: calc(100vh - 100px);
    color: var(--black);
    margin: 100px 0 56px 0;
}

.home-about-intro .heading {
    color: var(--black);
}

.home-about-intro img {
    height: 96vh;
    position: relative;
    right: 10%;
    z-index: -1;
    object-fit: cover;
}

.home-about-intro-text {
    margin-top: 124px;
    margin-left: 10vw;
    width: 600px;
}

.home-about-intro-text p {
    width: 464px;
}

#home .home-about-intro-text .heading h5 {
    right: 60%;
}

.home-about-intro-text span {
    font-family: open-sans,sans-serif;
    font-weight: 300;
    font-style: italic;
}

.home-about-intro-text .heading {
    color: var(--black);
}


.partners-container {
    background-color: var(--blue);
    width: 100vw;
    z-index: -1;
    text-align: center;
    padding-top: 40px;
}

.partners-container .heading {
    color: white;
}

.partners-logos {
    display: flex;
    justify-content: center;
}

.partner-box {
    background-color: white;
    border-radius: 50%;
    width: calc(88px + (150 - 88) * ((100vw - 300px) / (1600 - 300)));
    height: calc(88px + (150 - 88) * ((100vw - 300px) / (1600 - 300)));
    display: inline-block;
    text-align: center;
    margin: 40px 24px 0 0;
}

footer {
    background-color: var(--blue);
    width: 100vw;
  }
  
  .footer-container {
    max-width: 1200px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0;
    padding-bottom: 20px;
  }
  
  footer a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    margin-right: 40px;
  }

.fas, .fab {
    padding-right: 12px;
    font-size: 30px;
}

@media (max-width: 480px) {
    
    #home .heading h2 {
        font-size: 24px;
    }

    #home .heading h3 {
        font-size: 64px;
    }

    #home .heading h4 {
        font-size: 24px;
    }

    #home .heading h5 {
        right: 15%;
        font-size: 64px;
    }

    .home-intro-text p {
        /* font-size: .9em; */
        width: 308px;
    }

    .gold-bg {
        height: 256vh;
    }

    .gold-button {
        font-size: 12px;
    }

    .partner-box {
        margin: 0 12px;
    }


    .home-about-intro {
        display: initial;
    }

    #home .home-about-intro-text .heading h4 {
        left: 15%;
    }

    #home .about-values .heading h3 {
        transform: translate(0%, -50%);
    }

    .home-about-intro-text {
        width: 308px;
        margin: 124px 0 24px 10vw;
    }

    .home-about-intro img {
        height: 29vh;
    }

    iframe {
        width: 315;
    }

    .home-about-intro-text p {
        width: 324px;
    }

    #home .partners-container .heading h3 {
        right: 50%;
    }

}

@media (min-width: 768px) {
    #home .heading h3 {
        right: 50%;
    }

    .home-about-intro img {
        height: 47vh;
    }
    /* #home .parents-container .heading h3 {
        
    } */


    /* .home-about-intro {
        display: initial;
    } */
}

@media (min-width: 850px) {
    
    footer {
        padding: 70px 0 30px;
    }

    footer a {
        font-size: 14px;
    }

    .footer-container {
        flex-direction: row;

    }
}

@media (min-width: 1200px) {
    /* #home .heading h3 {
        left: 0;
    } */

    .home-about-intro img {
        height: 96vh;
    }
}

/* @media (max-width: 768px) {
    .footer {
        flex-direction: column;

    }
} */