/* root variables */
:root {
    --blue: #10153B;
    --gold: #C7A20D;
    --white: #F9F9F9;
    --black: #242424;
  }

body {
    margin: 0;
    background-color: var(--white);
  }

.logo {
    width: 250px;
    margin-left: 20px;
}

/* navigation */
.tabbar {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .6s ease;

  }

  #tabbar.hidebar {
    top: -103px;
  }
  
  /* Style the links inside the navigation bar */
  .tabbar a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0 20px;
  }

  .tabbar div {
    margin: 0 20px;
  }
  
  
  /* Change the color of links on hover */
 .tabbar div a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--gold);
    transition: width .5s;
}

.tabbar div a:hover::after {
    width: 100%;
}
  
  /* Add a color to the active/current link */
  .tabbar a.active {
    border-bottom: var(--gold) solid 2px;
  }

  p {
    height: 150vh;
    background-color: rosybrown;
    margin: 0;
    padding-top: 150px;
  }


