/* root variables */
:root {
    --blue: #10153B;
    --gold: #C7A20D;
    --white: #F9F9F9;
    --black: #242424;
  }

html {
  scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
    overflow-x: hidden;
    width: 100vw;

  }

.logo {
    width: 150px;
    margin-left: 20px;
}

/* navigation */
.tabbar {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .6s ease;

  }

  #tabbar.hidebar {
    top: -103px;
  }
  
  /* Style the links inside the navigation bar */
  .tabbar a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0 20px;
  }

  .tabbar div {
    margin: 0 20px;
  }
  
  
  /* hover underline */
 .tabbar div a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--gold);
    transition: width .5s;
}

.tabbar div a:hover::after {
    width: 100%;
}
  
  /* Add underline to the active/current link */
  .tabbar a.active::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--gold);
    transition: width .5s;
  }

  .tabbar a.active::after {
    width: 100%;
  }

  button {
    outline: none;
    cursor: pointer;
  }


/* burger menu */

#menuToggle input {
  display: none;
}

@media (max-width: 900px) {

.logo {
  margin-left: 10px;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

}

/*
*  hamburger
*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#navmenu {
  position: absolute;
  top: -30px;
  right: -70px;
  width: 105vw;
  height: 100vh;
  background: var(--blue);
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#navmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navmenu a {
  padding: 20px;
}


#menuToggle input:checked ~ #navmenu {
  transform: none;
}

}
